<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Census</title>
</head>
<body>
<h1>
    Add Member
</h1>
<form action="member" method="post">
    <div style="display:flex;flex-direction:column;width:300px">
    First Name<input type="text" name="firstName">
    Middle Name<input type="text" name="middleName">
    Last Name<input type="text" name="lastName">
    Gender <select name="Gender">
        <option value="male">male</option>
        <option value="female">female</option>
    </select>
    Date of Birth
    <input type="date" name="dateOfBirth">
    <input type="submit" value="Create">
    </div>
</form>
</body>
</html>