body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input
{
    margin:10px 0px;
}
.btn-success
{
    background-color: #25bc27;
}

.form-control
{
    min-width:100px;
}

.row
{
    padding:20px 5px;
}
.sidecard
{
    background-color: #eee;
    padding-top:30px;
}

.form-check-input
{
    margin-right:10px;
}

.maincard
{
    background-color: #fafafa;
    padding:50px 20px;

}

.option
{
    margin-right: 30px;
}


.error
{
    display: unset;
}


.memberitem
{
    padding:8px 20px;
}


.activeMember
{
    background-color: #d0d0d0;
}